.barra_navegação{
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    background-color: #FFFF;
}

.nav_home{
text-decoration: none;
background-color: #FFFF;

}

.nav_login{
    text-decoration: none;
    
}

.footer{
    text-align: center;
    background-color: #60BDE1 ;
    padding: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:white;
    bottom: 0;
    width: 100%;
}

.footer_area{
    padding: 20px;
    text-align: center  ;
}


.container-fluid{
    background-color: #FFFF;
}

.menu-item{
    display: inline;
  margin-left: 20px;
  font-size: 15px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.text_container{
    padding: 2%;
}

.texto{
    text-align: center;
    font-size: 350%;
    word-break: normal;
    font-family: Arial, Helvetica, sans-serif;
    
}

.container-fluid{
    padding: 1%;
}